name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - name: Clone repository
      uses: actions/checkout@v2
      
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Set up npm cache
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-v${{ matrix.node }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('.github/workflows/nodejs.yml') }}
        restore-keys: |
            ${{ runner.OS }}-node-v${{ matrix.node }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}-${{ hashFiles('.github/workflows/nodejs.yml') }}
            ${{ runner.OS }}-node-v${{ matrix.node }}-

    - name: npm install, build, and test
      run: |
        npm ci
        npm run build --if-present
        npm test
      env:
        CI: true
        NODE_ENV: "test"
        PORT: 3000
        MONGO_URL: "mongodb://localhost:27017/books"
        SECRET_HEX: "827d263847500d926a520be9c69137906dcc05df5a326ea2262f52d4f9db37b9"
        ACCESS_TOKEN_LIFETIME_MIN: 60
        BCRYPT_N_ROUNDS: 10
        WHITELIST_ORIGINS: "[\"http://localhost\"]"
        SMTP_USER: "project"
        SMTP_PASS: "secret"
        SMTP_PORT: 1025
        SMTP_HOST: "localhost"
        SMTP_FROM_EMAIL: "no-reply@example.com"
